name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with: 
          SHOW_TITLE: true
          SECTION_NAME: waka
  
          TIME_RANGE: last_year
  
          STOP_AT_OTHER: false
          LANG_COUNT: 15
  
          SHOW_TIME: true
          SHOW_TOTAL: true
  
          BLOCKS: "░▒▓█"
          CODE_LANG: "txt"
  
          IGNORED_LANGUAGES: "YAML JSON TOML"
